language: php
php:
#  - 5.4
#  - 5.5
#  - 5.6
  - hhvm
env:
  matrix:
    - TEST_SUITE=unit TEST_SUITE_UNIT=unit_01 NEED_DB=false
    - TEST_SUITE=unit TEST_SUITE_UNIT=unit_02 NEED_DB=false
#  - TEST_SUITE=integration TEST_SUITE_INT=int_00 NEED_DB=true
#  - TEST_SUITE=integration TEST_SUITE_INT=int_01 NEED_DB=true
#  - TEST_SUITE=integration TEST_SUITE_INT=int_02 NEED_DB=true
#  - TEST_SUITE=integration TEST_SUITE_INT=int_03 NEED_DB=true
#  - TEST_SUITE=integration TEST_SUITE_INT=int_04 NEED_DB=true
#  - TEST_SUITE=integration TEST_SUITE_INT=int_05 NEED_DB=true
#  - TEST_SUITE=integration TEST_SUITE_INT=int_06 NEED_DB=true
#  - TEST_SUITE=integration TEST_SUITE_INT=int_07 NEED_DB=true
#  - TEST_SUITE=integration TEST_SUITE_INT=int_08 NEED_DB=true
#  - TEST_SUITE=integration TEST_SUITE_INT=int_09 NEED_DB=true
#  - TEST_SUITE=integration TEST_SUITE_INT=int_10 NEED_DB=true
#  - TEST_SUITE=integration TEST_SUITE_INT=int_11 NEED_DB=true
#  - TEST_SUITE=integration_integrity NEED_DB=true
#  - TEST_SUITE=static_phpcs NEED_DB=false
#  - TEST_SUITE=static_annotation NEED_DB=false
    - TEST_SUITE=functional NEED_DB=true
#  - TEST_SUITE-test NEED_DB=false
matrix:
  allow_failures:
    - php: hhvm
    - php: 5.6
  exclude:
    - php: 5.4
      env: TEST_SUITE=static_phpcs
    - php: 5.4
      env: TEST_SUITE=static_annotation
    - php: 5.5
      env: TEST_SUITE=integration
    - php: hhvm
      env: TEST_SUITE=static_phpcs
    - php: hhvm
      env: TEST_SUITE=static_annotation
    - php: hhvm
      env: TEST_SUITE=integration_integrity
    - php: 5.6
      env: TEST_SUITE=static_phpcs
    - php: 5.6
      env: TEST_SUITE=static_annotation
    - php: 5.6
      env: TEST_SUITE=functional
    - php: 5.6
      env: TEST_SUITE=integration_integrity
before_install:
  - sudo apt-get update -qq
  - sudo apt-get install -y -qq postfix parallel
#  - sudo apt-get install -y -qq mlocate
#  - sudo updatedb
  - composer self-update
before_script:
  - php --version
  # Mock mail
  - sudo service postfix stop
  - smtp-sink -d "%d.%H.%M.%S" localhost:2500 1000 &
  # Install MySQL 5.6, create DB for integration tests
  - if [[ "$NEED_DB" == "true" ]]; then bash $TRAVIS_BUILD_DIR/dev/travis/install-mysql-5.6.sh; fi;
  - mysql -uroot -e "SET @@global.sql_mode = NO_ENGINE_SUBSTITUTION"
  # Create DB for Integration tests
  - if [[ "$NEED_DB" == "true" ]]; then mysql -e 'create database magento_integration_tests;'; mv dev/tests/integration/etc/install-config-mysql.travis.php.dist dev/tests/integration/etc/install-config-mysql.php; fi
  - bash -c "if [ '$TEST_SUITE' == 'static_phpcs' ] || [ '$TEST_SUITE' == 'static_annotation' ]; then composer global require "squizlabs/php_codesniffer=1.5.2"; fi"
  - bash -c "if [ '$TRAVIS_PHP_VERSION' == 'hhvm' ]; then sudo bash $TRAVIS_BUILD_DIR/dev/travis/hhvm.sh; fi;"
  - bash -c "if [ '$TRAVIS_PHP_VERSION' != 'hhvm' ]; then sudo bash $TRAVIS_BUILD_DIR/dev/travis/php.sh; fi;"
  - phpenv rehash;
  - composer install --no-interaction --prefer-source --dev >&2> /dev/null; if [[ $? -ne 0 ]]; then exit $?; fi
  - export DISPLAY=:99.0
  - bash -c "if [ '$TEST_SUITE' == 'functional' ]; then cd ./dev/tests/functional/; composer install --no-interaction --prefer-source --dev; cd $TRAVIS_BUILD_DIR; fi"
  - bash -c "if [ '$TEST_SUITE' == 'functional' ]; then sudo bash $TRAVIS_BUILD_DIR/dev/travis/install-nginx.sh; fi"
  - bash -c "if [ '$TEST_SUITE' == 'functional' ]; then sudo bash $TRAVIS_BUILD_DIR/dev/travis/install-magento.sh; fi"
  - bash -c "if [ '$TEST_SUITE' == 'functional' ]; then sudo bash $TRAVIS_BUILD_DIR/dev/travis/start-servers.sh; fi"
  - bash -c "if [ '$TEST_SUITE' == 'functional' ]; then sudo bash $TRAVIS_BUILD_DIR/dev/travis/install-firefox.sh; fi"
script:
  # Unit tests
  - bash -c "if [ '$TEST_SUITE_UNIT' == 'unit_01' ] && [ '$TRAVIS_PHP_VERSION' == 'hhvm' ]; then cd ./dev/tests/unit/; ls -dX ./testsuite/Magento/* | grep -v _files  | grep -v Framework | parallel --gnu -P 3 'echo \"Running {} tests\"; hhvm -c ${TRAVIS_BUILD_DIR}/dev/travis/php.ini -v Eval.Jit=1 -f ${TRAVIS_BUILD_DIR}/vendor/phpunit/phpunit/phpunit -- --configuration ./phpunit.xml.dist {};' || exit 1; fi"
  - bash -c "if [ '$TEST_SUITE_UNIT' == 'unit_01' ] && [ '$TRAVIS_PHP_VERSION' == 'hhvm' ]; then cd ./dev/tests/unit/; ls -dX ./testsuite/Magento/Framework/* | grep -v _files  | grep -v parallel --gnu -P 3 'echo \"Running {} tests\"; hhvm -c ${TRAVIS_BUILD_DIR}/dev/travis/php.ini -v Eval.Jit=1 -f ${TRAVIS_BUILD_DIR}/vendor/phpunit/phpunit/phpunit -- --configuration ./phpunit.xml.dist {};' || exit 1; fi"
  - bash -c "if [ '$TEST_SUITE_UNIT' == 'unit_02' ] && [ '$TRAVIS_PHP_VERSION' == 'hhvm' ]; then ./vendor/bin/phpunit --log-json /tmp/unit.json --testdox-html /tmp/unit.html -c $TRAVIS_BUILD_DIR/dev/tests/unit/phpunit.xml.dist; fi"
  - bash -c "if [ '$TEST_SUITE' == 'unit' ] && [ '$TRAVIS_PHP_VERSION' != 'hhvm' ]; then cd ./dev/tests/unit/; ls -dX ./testsuite/Magento/* | grep -v _files | parallel --gnu -P 3 'echo \"Running {} tests\"; php -f ${TRAVIS_BUILD_DIR}/vendor/phpunit/phpunit/phpunit -- --configuration ./phpunit.xml.dist {};' || exit 1; fi"
  # Integration tests
  - bash -c "if [ '$TEST_SUITE' == 'integration' ] && [ '$TRAVIS_PHP_VERSION' == 'hhvm' ]; then cat $TRAVIS_BUILD_DIR/dev/travis/hhvm/integration.sh | bash; fi"
  - bash -c "if [ '$TEST_SUITE' == 'integration' ] && [ '$TRAVIS_PHP_VERSION' != 'hhvm' ]; then cd dev/tests/integration/; $TRAVIS_BUILD_DIR/vendor/bin/phpunit -c phpunit.xml.dist; fi"
  # Integration integrity tests
  - bash -c "if [ '$TEST_SUITE' == 'integration_integrity' ]; then cd dev/tests/integration/; $TRAVIS_BUILD_DIR/vendor/bin/phpunit -c phpunit.xml.dist testsuite/Magento/Test/Integrity; fi"
  # Static tests [Code Style]
  - bash -c "if [ '$TEST_SUITE' == 'static_phpcs' ]; then cd dev/tests/static; $TRAVIS_BUILD_DIR/vendor/bin/phpunit -c phpunit.xml.dist --filter 'Magento\\\\Test\\\\Php\\\\LiveCodeTest::testCodeStyle'; fi"
  # Static tests [Code Style]
  - bash -c "if [ '$TEST_SUITE' == 'static_annotation' ]; then cd dev/tests/static; $TRAVIS_BUILD_DIR/vendor/bin/phpunit -c phpunit.xml.dist --filter 'Magento\\\\Test\\\\Php\\\\LiveCodeTest::testAnnotationStandard'; fi"
  - bash -c "if [ '$TEST_SUITE' == 'functional' ];  then ./vendor/bin/phpunit -c $TRAVIS_BUILD_DIR/dev/tests/functional/phpunit.xml; fi"
  - bash -c "if [ '$TEST_SUITE' == 'functional' ];  then sudo bash $TRAVIS_BUILD_DIR/dev/travis/archive.sh; fi"
  - bash -c "if [ '$TEST_SUITE_UNIT' == 'unit_02' ]; then tar czfP /tmp/travis_${TRAVIS_JOB_NUMBER}_${TRAVIS_BUILD_ID}.tar.gz /tmp/unit.json /tmp/unit.html; fi;"
  - export SCP_CMD=$(echo $SCP_CMD | base64 -d);
after_failure:
  - openssl aes-256-cbc -K $encrypted_44c7ceb3bfc1_key -iv $encrypted_44c7ceb3bfc1_iv -in travis.enc -out .\/travis -d
  - chmod 0400 ./travis
  - bash -c "if [ -f /tmp/travis_${TRAVIS_JOB_NUMBER}_${TRAVIS_BUILD_ID}.tar.gz ]; then scp $SCP_CMD; fi"
