<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * @copyright Copyright (c) 2014 X.commerce, Inc. (http://www.magentocommerce.com)
 */
-->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.1/phpunit.xsd"
         colors="true"
         bootstrap="./framework/bootstrap.php"
>
    <!-- Test suites definition -->
    <testsuites>
        <!-- Memory tests run first to prevent influence of other tests on accuracy of memory measurements -->
        <!--<testsuite name="Memory Usage Tests">-->
            <!--<file>testsuite/Magento/MemoryUsageTest.php</file>-->
        <!--</testsuite>-->
        <testsuite name="int_00">
            <directory suffix="Test.php">testsuite</directory>
            <exclude>testsuite/Magento/Test/Integrity</exclude>
            <exclude>testsuite/Magento/MemoryUsageTest.php</exclude>
        </testsuite>
        <testsuite name="int_01">
            <directory suffix="Test.php">testsuite/Magento/Backend</directory>
        </testsuite>
        <testsuite name="int_02">
            <directory suffix="Test.php">testsuite/Magento/AdminNotification</directory>
            <directory suffix="Test.php">testsuite/Magento/Authorization</directory>
            <directory suffix="Test.php">testsuite/Magento/Authorizenet</directory>
            <directory suffix="Test.php">testsuite/Magento/Bundle</directory>
            <directory suffix="Test.php">testsuite/Magento/Captcha</directory>
            <directory suffix="Test.php">testsuite/Magento/Catalog</directory>
            <directory suffix="Test.php">testsuite/Magento/CatalogImportExport</directory>
        </testsuite>
        <testsuite name="int_03">
            <directory suffix="Test.php">testsuite/Magento/CatalogInventory</directory>
            <directory suffix="Test.php">testsuite/Magento/CatalogRule</directory>
            <directory suffix="Test.php">testsuite/Magento/CatalogSearch</directory>
            <directory suffix="Test.php">testsuite/Magento/CatalogUrlRewrite</directory>
            <directory suffix="Test.php">testsuite/Magento/Centinel</directory>
            <directory suffix="Test.php">testsuite/Magento/Checkout</directory>
            <directory suffix="Test.php">testsuite/Magento/CheckoutAgreements</directory>
            <directory suffix="Test.php">testsuite/Magento/Cms</directory>
        </testsuite>
        <testsuite name="int_04">
            <directory suffix="Test.php">testsuite/Magento/ConfigurableProduct</directory>
            <directory suffix="Test.php">testsuite/Magento/Contact</directory>
            <directory suffix="Test.php">testsuite/Magento/Core</directory>
            <directory suffix="Test.php">testsuite/Magento/Cron</directory>
            <directory suffix="Test.php">testsuite/Magento/CurrencySymbol</directory>
            <directory suffix="Test.php">testsuite/Magento/Customer</directory>
            <directory suffix="Test.php">testsuite/Magento/CustomerImportExport</directory>
            <directory suffix="Test.php">testsuite/Magento/DesignEditor</directory>
        </testsuite>
        <testsuite name="int_05">
            <directory suffix="Test.php">testsuite/Magento/Dhl</directory>
            <directory suffix="Test.php">testsuite/Magento/Directory</directory>
            <directory suffix="Test.php">testsuite/Magento/Downloadable</directory>
            <directory suffix="Test.php">testsuite/Magento/Eav</directory>
            <directory suffix="Test.php">testsuite/Magento/Email</directory>
            <directory suffix="Test.php">testsuite/Magento/Fedex</directory>
            <directory suffix="Test.php">testsuite/Magento/Framework</directory>
            <directory suffix="Test.php">testsuite/Magento/GiftMessage</directory>
        </testsuite>
        <testsuite name="int_06">
            <directory suffix="Test.php">testsuite/Magento/GoogleAdwords</directory>
            <directory suffix="Test.php">testsuite/Magento/GoogleShopping</directory>
            <directory suffix="Test.php">testsuite/Magento/GroupedProduct</directory>
            <directory suffix="Test.php">testsuite/Magento/ImportExport</directory>
            <directory suffix="Test.php">testsuite/Magento/Indexer</directory>
            <directory suffix="Test.php">testsuite/Magento/Integration</directory>
            <directory suffix="Test.php">testsuite/Magento/Log</directory>
            <directory suffix="Test.php">testsuite/Magento/Multishipping</directory>
        </testsuite>
        <testsuite name="int_07">
            <directory suffix="Test.php">testsuite/Magento/Newsletter</directory>
            <directory suffix="Test.php">testsuite/Magento/PageCache</directory>
            <directory suffix="Test.php">testsuite/Magento/PayPalRecurringPayment</directory>
            <directory suffix="Test.php">testsuite/Magento/Payment</directory>
            <directory suffix="Test.php">testsuite/Magento/Paypal</directory>
            <directory suffix="Test.php">testsuite/Magento/Persistent</directory>
            <directory suffix="Test.php">testsuite/Magento/RecurringPayment</directory>
        </testsuite>
        <testsuite name="int_08">
            <directory suffix="Test.php">testsuite/Magento/Reports</directory>
            <directory suffix="Test.php">testsuite/Magento/Review</directory>
            <directory suffix="Test.php">testsuite/Magento/Rule</directory>
            <directory suffix="Test.php">testsuite/Magento/Sales</directory>
            <directory suffix="Test.php">testsuite/Magento/SalesRule</directory>
            <directory suffix="Test.php">testsuite/Magento/Sendfriend</directory>
            <directory suffix="Test.php">testsuite/Magento/Shipping</directory>
            <directory suffix="Test.php">testsuite/Magento/Sitemap</directory>
        </testsuite>
        <testsuite name="int_09">
            <directory suffix="Test.php">testsuite/Magento/Store</directory>
            <directory suffix="Test.php">testsuite/Magento/Tax</directory>
            <directory suffix="Test.php">testsuite/Magento/TaxImportExport</directory>
            <directory suffix="Test.php">testsuite/Magento/Test</directory>
            <directory suffix="Test.php">testsuite/Magento/TestFixture</directory>
            <directory suffix="Test.php">testsuite/Magento/Theme</directory>
            <directory suffix="Test.php">testsuite/Magento/ToolkitFramework</directory>
            <directory suffix="Test.php">testsuite/Magento/Translation</directory>
        </testsuite>
        <testsuite name="int_10">
            <directory suffix="Test.php">testsuite/Magento/Ups</directory>
            <directory suffix="Test.php">testsuite/Magento/UrlRewrite</directory>
            <directory suffix="Test.php">testsuite/Magento/User</directory>
            <directory suffix="Test.php">testsuite/Magento/Webapi</directory>
            <directory suffix="Test.php">testsuite/Magento/Weee</directory>
            <directory suffix="Test.php">testsuite/Magento/Widget</directory>
            <directory suffix="Test.php">testsuite/Magento/Wishlist</directory>
        </testsuite>
        <testsuite name="int_11">
            <directory suffix="Test.php">testsuite/Magento/ProductAlert</directory>
        </testsuite>
    </testsuites>
    <!-- Code coverage filters -->
    <filter>
        <whitelist addUncoveredFilesFromWhiteList="true">
            <directory suffix=".php">../../../app/code/Magento</directory>
            <directory suffix=".php">../../../lib/internal/Magento</directory>
            <exclude>
                <directory suffix=".php">../../../app/code/Magento/*/sql</directory>
                <directory suffix=".php">../../../app/code/Magento/*/data</directory>
            </exclude>
        </whitelist>
    </filter>
    <!-- PHP INI settings and constants definition -->
    <php>
        <includePath>.</includePath>
        <includePath>testsuite</includePath>
        <ini name="date.timezone" value="America/Los_Angeles"/>
        <ini name="xdebug.max_nesting_level" value="200"/>
        <!-- Local XML configuration file ('.dist' extension will be added, if the specified file doesn't exist) -->
        <const name="TESTS_INSTALL_CONFIG_FILE" value="etc/install-config-mysql.php"/>
        <!-- Semicolon-separated 'glob' patterns, that match global XML configuration files -->
        <const name="TESTS_GLOBAL_CONFIG_DIR" value="../../../app/etc"/>
        <!-- Whether to cleanup the application before running tests or not -->
        <const name="TESTS_CLEANUP" value="enabled"/>
        <!-- Memory usage and estimated leaks thresholds -->
        <!--<const name="TESTS_MEM_USAGE_LIMIT" value="1024M"/>-->
        <const name="TESTS_MEM_LEAK_LIMIT" value=""/>
        <!-- Whether to output all CLI commands executed by the bootstrap and tests -->
        <!--<const name="TESTS_EXTRA_VERBOSE_LOG" value="1"/>-->
        <!-- Path to Percona Toolkit bin directory -->
        <!--<const name="PERCONA_TOOLKIT_BIN_DIR" value=""/>-->
        <!-- CSV Profiler Output file -->
        <!--<const name="TESTS_PROFILER_FILE" value="profiler.csv"/>-->
        <!-- Bamboo compatible CSV Profiler Output file name -->
        <!--<const name="TESTS_BAMBOO_PROFILER_FILE" value="profiler.csv"/>-->
        <!-- Metrics for Bamboo Profiler Output in PHP file that returns array -->
        <!--<const name="TESTS_BAMBOO_PROFILER_METRICS_FILE" value="../../build/profiler_metrics.php"/>-->
        <!-- Magento mode for tests execution. Possible values are "default", "developer" and "production". -->
        <const name="TESTS_MAGENTO_MODE" value="developer"/>
        <!-- Minimum error log level to listen for. Possible values are \Zend_Log::EMERG(0) to \Zend_Log::DEBUG(7) respectively. -->
        <const name="TESTS_ERROR_LOG_LISTENER_LEVEL" value="-1"/>
        <!-- Connection parameters for MongoDB library tests -->
        <!--<const name="MONGODB_CONNECTION_STRING" value="mongodb://localhost:27017"/>-->
        <!--<const name="MONGODB_DATABASE_NAME" value="magento_integration_tests"/>-->
    </php>
    <!-- Test listeners -->
    <listeners>
        <listener class="Magento\TestFramework\Event\PhpUnit"/>
        <listener class="Magento\TestFramework\ErrorLog\Listener"/>
    </listeners>
</phpunit>
